*{
    margin: 0px;
    padding: 0px;
}


header{
    border: 2px solid red;
    height: 10vh;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#list{
    display: flex;
    justify-content: center;
    list-style: none;
}


ul>li,a{
    margin: 10px;
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}

#nav-small-scr{
    display: flex;
}

.logo, #toggle-btn{
    display: none;
}

.menu{
    display: none;
}


@media screen and (max-width: 468px){
    #nav-small-scr{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin: 12px;
    }

    .logo{
            font-size: 1.2em;
            display: block;
            font-size: 0.8em;
    }

    #toggle-btn{
            display: block;
            height: 4vh;
            cursor: pointer;
    }

.show{
    display: block;
    border: 2px solid red;
}

#name{
    display: none;
   }
}

@media screen and (min-width: 468px){
    #name{
        font-size: 0.9em;
    }
   
}